<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlanningCenter_to_OPS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <PlanningCenter_to_OPS.Properties.Settings>
            <setting name="app_id" serializeAs="String">
                <value />
            </setting>
            <setting name="secret" serializeAs="String">
                <value />
            </setting>
            <setting name="song_folder" serializeAs="String">
                <value>C:\OPS_Songs</value>
            </setting>
            <setting name="opw_selector_enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="kopw_selector_enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="opw_selector" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="kopw_selector" serializeAs="String">
                <value>kopw *</value>
            </setting>
            <setting name="opw_case_sensitive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="kopw_case_sensitive" serializeAs="String">
                <value>False</value>
            </setting>
        </PlanningCenter_to_OPS.Properties.Settings>
    </userSettings>
</configuration>